version: '3'

services:
  backend:
    build:
      context: ./backend
    container_name: backend
    restart: always
    env_file:
      - ./backend/core/.env
    volumes:
      - ./backend:/app
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    restart: always
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"

  db:
    image: postgres:alpine
    container_name: db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env

  nginx:
    build: ./nginx
    container_name: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/certs:/etc/nginx/ssl
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
